@use '/src/styles/constants/colors';

.dropdown {
  position: relative;
  width: 300px;

  .selected {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.6rem;
    cursor: pointer;
    border: 1px solid colors.$BORDER;
    border-radius: 3px;

    button {
      cursor: pointer;
      background: none;
      border: none;
    }
  }

  .dropdownMenu {
    position: relative;
    width: 100%;
    height: 360px;
    padding: 3px 0;
    margin-top: 1rem;
    border: 1px solid colors.$BORDER;
    border-radius: 3px;

    .searchForm {
      position: relative;
      display: flex;
      align-items: center;
      height: 15%;
      border: none;
      border-bottom: 1px solid colors.$BORDER;

      .searchIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        font-size: 1.1rem;
        cursor: default;
      }

      input {
        width: 100%;
        height: 100%;
        padding-right: 0.6rem;
        font-size: 1rem;
        border: none;

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: colors.$TEXT_DISABLE;
        }
      }
    }

    .menuList {
      max-height: 85%;
      padding: 0.3rem 2rem;
      overflow-y: auto;
      list-style: none;
      cursor: pointer;

      li {
        padding: 0.3rem 0;

        button {
          width: 100%;
          font-size: 1rem;
          text-align: left;
        }
      }

      span {
        display: block;
        margin-top: 1rem;
        cursor: default;
      }
    }
  }
}
