@use '/src/styles/constants/colors';

.input {
  position: relative;
  width: 360px;

  div:first-of-type {
    margin-bottom: 1.2rem;
  }

  .formWrapper {
    position: relative;
    display: flex;
    flex-direction: column;

    label {
      padding-left: 4px;
      margin-bottom: 4px;
      font-size: 0.8rem;
      color: colors.$TEXT_SECONDARY;
    }

    input {
      width: 360px;
      padding: 0.8rem;
      font-size: 1rem;
      background-color: colors.$BACKGROUND_SECONDARY;
      border: 1px solid colors.$BORDER;
      border-radius: 3px;

      &::placeholder {
        color: colors.$TEXT_DISABLE;
      }
    }

    .validIcon {
      position: absolute;
      top: 28px;
      left: 90%;
      font-size: 1.4rem;
      cursor: default;
    }

    .invalidMessage {
      margin-top: 4px;
      font-size: 0.8rem;
      color: colors.$RED;
    }

    .viewButton {
      position: absolute;
      top: 28px;
      left: 90%;
      font-size: 1.4rem;
      cursor: pointer;
      background: none;
      border: none;
    }
  }
}
