@use '/src/styles/constants/colors';

.tab {
  position: relative;
  display: flex;
  width: 450px;
  border-bottom: 3px solid colors.$BORDER;

  .tabMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    font-weight: 600;
    color: colors.$TEXT_DISABLE;
    cursor: pointer;
  }

  .tabActive {
    color: colors.$TEXT_PRIMARY;
  }

  .activeBar {
    position: absolute;
    top: 50px;
    width: 150px;
    height: 3px;
    background-color: colors.$ORANGE;
    transition: 0.2s ease-out;
    transform: translateX(var(--position));
  }
}
